<!-- templates/form.html -->
<html>
  <head>
    <title>FastAPI Form Example</title>
  </head>
  <body>
    <h1>Prompt a Model</h1>
    <h2>Meeting Preperation Assistatnt</h2>
    <p>Provide the assistant with the meeting topic. The assistant will suggest an agenda and some questions to engage the attendees.</p>
    <form method="post">
      <label for="prompt">Meeting topic:</label>
      <input type="text" id="prompt" name="prompt" required />
      <button type="submit">Help Me</button>
    </form>
    {% if response %}
    <h2>Response:</h2>
    <p>{{ response }}</p>
    {% endif %}
  </body>
</html>