<!-- templates/form.html -->
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />

    <link
      href="https://bootswatch.com/5/materia/bootstrap.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <title>FastAPI Form Example</title>
  </head>
  <body>
    <div class="mb-3 mx-auto" style="width: 50%">
      <h1 class="mt-3">Zoom Assistant</h1>

      <div >
        <h4>Meeting Preperation Assistant</h4>
        <p class="text-body-secondary">
          Provide the assistant with the meeting topic. The assistant will
          suggest an agenda and some questions to engage the attendees.
        </p>
        <form method="post">
          <label for="prompt" class="form-label">Help me prepare for:</label>
          <input
            type="text"
            id="prompt"
            name="prompt"
            class="form-control"
            placeholder="Quarterly Budget Meeting"
            required
          />
          <button type="submit" class="btn btn-primary mt-3">Help Me</button>
        </form>

        <div class="card bg-light mb-3">
          <div class="card-body">
            {% if input %}
            <h4 class="card-title">{{ input }}</h4>
            {% endif %} {% if response %}
            <p class="card-text">{{ response }}</p>
            {% endif %}
          </div>
        </div>
      </div>
      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"
      ></script>
    </div>
  </body>
</html>
